/* Style */
body {
	margin:		0px;
	padding:	0px;
}

p {
	margin-top:		0px;
}

div.page {
	display:	none;
}

@media (max-height: 356px)
{
	/* iPhone mobile safari */
	div.page {
/*background-color:	yellow;*/
		width:		320px;
		height:		312px;
	}
}

@media (min-height: 356px) and (max-height: 500px)
{
	/* iPhone standalone app */
	div.page {
/*background-color:	pink;*/
		width:		320px;
		height:		416px;
	}
}

#main-page {
	text-align:	center;
	vertical-align:	bottom;
	display:	block;
}

#graph-page {
/*	display:	block;*/
}

#smoke {
	margin-top:	60px;
	width:		114px;
	height:		114px;
	background-image:	url('images/icon.png');
	text-align:	center;
}

canvas {
}

.graph-button-bar {
	width:		100%;
	background:	yellow;
}

.graph-button-bar ul {
	list-style-type:	none;
	list-style-position:	inside;
	margin:			0px;
	padding:		0px;
}

.graph-button-bar li {
	display:	inline;
	padding:	0px;
	margin:		0px;
}

#page-button-bar {
	width:		100%;
	height:		44px;
	position:	fixed;
	bottom:		0px;
	left:		0px;
	vertical-align:	middle;
	color:		white;
	background-image:
			-webkit-gradient(linear, left top, left bottom,
				 from(#808080),
				 to(#101010)
				);
	background-image:
			-moz-linear-gradient(top,
				 #808080,
				 #101010);
	text-align:	center;
	vertical-align:	middle;
/*
position:	absolute;
bottom:		356px;
*/
}

#page-button-bar li {
	display:	inline;
}

.pseudo-button {
	-webkit-appearance:	push-button;
	background-color:	buttonface;
	border:			2px outset buttonface;
	color:			buttontext;
	padding:		2px 6px 3px;
	-webkit-box-sizing:	border-box;
	font-family:		'Lucida Grande';
	font-size:		11px;

	width:	80%;
	height:	4em;
}
